body {
    background-color: #EEEEEE;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
    color: rgb(44, 10, 180);
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(44, 10, 180);
    margin-left: 1.67em;
}
.label {
    color: rgb(44, 10, 180);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}